<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ChapooDatabase" connectionString="Data Source=den1.mssql7.gear.host;Initial Catalog=dbchapoo202109;user=dbchapoo202109;password=Gn0rmm~~mo90;"
      providerName="System.Data.SqlClient" />
    <add name="ChapooUI.Properties.Settings.dbchapoo202109ConnectionString"
      connectionString="Data Source=den1.mssql7.gear.host;Initial Catalog=dbchapoo202109;Persist Security Info=True;User ID=dbchapoo202109;Password=Gn0rmm~~mo90"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>